<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>estudos1</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../cruddefault/library/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../cruddefault/library/css/bootstrap-theme.min.css"/>
        <script type="text/javascript" src="../cruddefault/library/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="../cruddefault/library/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../cruddefault/library/js/main.js"></script>
    
    </head>
    <body>
        
    <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
        <a class="navbar-brand" href="#">Crud Def@ult</a>
        
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(Página atual)</span></a>
            
          </div>
        </div>
    </nav>    

        
