<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

    <body onload="locationMap()">
        <div class="row">
        <div class="col-md-2 col-md-offset-5">
        <div class="form-group">
            <label><span class="glyphicon glyphicon-road"></span>  Endereco</label>
            <input type="text" id="txtEndereco" name="txtUsuario" class="form-control">
            <span id="errorUser"></span>
        </div>    
        </div>
        </div>
        <div id="map" style="width: 800px; height: 800px; margin-left: 20%">TODO write content</div>
    </body>

