<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
  
    <div class="row justify-content-center">
        <div class="col-md-5"></div>
        <div class="col-md-2">
        <form>
        <div class="form-group">
            <label>Usuario</label>
            <input type="text" id="txtUsuario" name="txtUsuario" class="form-control">
            <span id="errorUser"></span>
        </div>
        <div class="form-group">
            <label>Senha</label>
            <input type="password" id="txtSenha" name="txtUsuario" class="form-control">
            <span id="errorPass"></span>
            <span id="errorLoggedOn"></span>
        </div>    
        <div>
             <button id="btnLogin" class="btn btn-primary">Login</button>
        </div>   
           
        </form>    
        </div>
        <div class="col-md-5"></div>
        
    </div> 
       

